<form>
  <label for="course">Course:</label><br>
  <select id="course">
    <option value="math">Math</option>
    <option value="science">Science</option>
    <option value="history">History</option>
  </select><br>
  <label for="fee">Tuition Fee:</label><br>
  <select id="fee">
    <option value="500">$500</option>
    <option value="1000">$1000</option>
    <option value="1500">$1500</option>
  </select><br>
  <label for="location">Location:</label><br>
  <select id="location">
    <option value="newyork">New York</option>
    <option value="losangeles">Los Angeles</option>
    <option value="chicago">Chicago</option>
  </select><br><br>
  <input type="submit" value="Submit">
</form>
