{% extends 'base.html' %} {{ super() }}
{% block title %}
    <title>Results</title>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Recommended Results</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active">Recommended Results</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="card">
  <div class="card-body">
    <br>
  <div class="justify-content-center">
    <label for="course" class="form-label">Course: {{ course }}</label><br>
    <label for="tuition_fee" class="form-label">Tuition Fee: {{ tuition_fee }}</label><br>
      <label for="location" class="form-label">Location:  {{ location }}</label><br>
      <label for="validationCustom04" class="form-label">Predicted Year: {{ year }}</label><br>
  </div>






</div></div>


        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">School</th>
                <th scope="col">Tuition Fee</th>
                <th scope="col">Location</th>
                <th scope="col">{{ year }} Predicted Passing Rate</th>
{#                <th scope="col">Passing Rate 2</th>#}
            </tr>
            </thead>
            <tbody>
            {% for school in recommended_schools %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ school['School'] }}</td>
                    <td>{{ school['Tuition_Fee'] }}</td>
                    <td>{{ school['Location'] }}</td>
                    <td>
                        {% if school['PR1']|int %}
                            {{ school['PR1'] }}%
                        {% else %}
                            {{ school['PR1'] }}
                        {% endif %}
                    </td>
{#                    <td>#}
{#                        {% if school['PR2']|int %}#}
{#                            {{ school['PR2'] }}%#}
{#                        {% else %}#}
{#                            {{ school['PR2'] }}#}
{#                        {% endif %}#}
{#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- End Table with stripped rows -->

                <h6 class="card-title"> *Insufficient data =<span>  not enough data from PRC board results from 2010-2022</span></h6>
        <button class="btn btn-primary" type="submit" onclick="location.href='/home'">Submit new form</button>
    </main>
{% endblock %}