{% extends 'base.html' %} {{ super() }}
{% block title %}
    <title>Results</title>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Recommended Results</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active">Recommended Results</li>
                </ol>
            </nav>
            <p>Professional Regulation Commission have two schedules of Board Exams, Batch 1 and Batch 2.</p>
        </div><!-- End Page Title -->


        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">School</th>
                <th scope="col">Tuition Fee</th>
                <th scope="col">Location</th>
                <th scope="col">{{ year }} Passing Rate</th>
{#                <th scope="col">Passing Rate 2</th>#}
            </tr>
            </thead>
            <tbody>
            {% for school in recommended_schools %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ school['School'] }}</td>
                    <td>{{ school['Tuition_Fee'] }}</td>
                    <td>{{ school['Location'] }}</td>
                    <td>
                        {% if school['PR1']|int %}
                            {{ school['PR1'] }}%
                        {% else %}
                            {{ school['PR1'] }}
                        {% endif %}
                    </td>
{#                    <td>#}
{#                        {% if school['PR2']|int %}#}
{#                            {{ school['PR2'] }}%#}
{#                        {% else %}#}
{#                            {{ school['PR2'] }}#}
{#                        {% endif %}#}
{#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- End Table with stripped rows -->


    </main>
{% endblock %}